################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GenericRepository/.vs
/GenericRepository/GenericRepository/obj
*.user
